<div class="container main">
    <h2 class="text-center">Commit History For The Project</h2>
    <h3 class="text-center">Meta Commit History</h3>
    <div class="container card-list">
        <div *ngFor="let commit of allCommits" class="card container">
            <div class="card-header">
                Author - {{commit.commit.author.name}}
            </div>
            <div class="card-body row">
                <div class="d-flex flex-column col-sm-8">
                    <h5 class="p-2">Commit Message...</h5>
                    <p class="card-text p-2">"{{commit.commit.message}}"</p>
                    <a *ngIf="!details" (click)="getDetails()" class="btn btn-primary">Details</a>
                    <div *ngIf="details">
                        <p>shah: commit.shah</p>
                        <p>Time: commit.author.date</p>
                        <a (click)="getDetails()" class="btn btn-primary">No Thnx</a>
                    </div>
                </div>
                <div class="d-flex ml-auto p-2 col-sm-4">
                    <img [src]="getSrc(commit)" height="200" width="200">
                </div>
            </div>
        </div>
    </div>
</div>